html{
  height:100vh;
}
header{
  background-color: rgba(243, 245, 108, 0.197);
}
a{
  margin-top:30px;
  margin-right: 10px;
}

.header{
  display: flex;
  justify-content: center;
  
}
.background{
  text-align: center;
  height:100vh;
  margin:0;
  padding:0;
  background-color: rgba(243, 245, 108, 0.197);
}
